<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b42a2cfc-f699-4936-8503-73b6fa95cd09/resourcegroups/WebApplication720220520224932ResourceGroup/providers/Microsoft.Web/sites/WebApplication720220520224932</ResourceId>
    <ResourceGroup>WebApplication720220520224932ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/b42a2cfc-f699-4936-8503-73b6fa95cd09/resourceGroups/WebApplication720220520224932ResourceGroup/providers/Microsoft.ApiManagement/service/WebApplication7/apis/WebApplication7</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapplication720220520224932.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>83bdad68-5826-4b08-8e70-b9636989d0cb</ProjectGuid>
    <MSDeployServiceURL>webapplication720220520224932.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApplication720220520224932</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WebApplication720220520224932</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>